UserVerifyService/src/wsdl/192.168.43.2_8080/DatabaseService/UserServiceCoop.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="UserServiceCoop">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://192.168.43.2:8080/DatabaseService/UserServiceCoop?xsd=1"/>
</xsd:schema>
</types>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="addUser">
<part name="parameters" element="tns:addUser"/>
</message>
<message name="addUserResponse">
<part name="parameters" element="tns:addUserResponse"/>
</message>
<message name="modifyUserCart">
<part name="parameters" element="tns:modifyUserCart"/>
</message>
<message name="modifyUserCartResponse">
<part name="parameters" element="tns:modifyUserCartResponse"/>
</message>
<message name="updatePasswd">
<part name="parameters" element="tns:updatePasswd"/>
</message>
<message name="updatePasswdResponse">
<part name="parameters" element="tns:updatePasswdResponse"/>
</message>
<message name="updateCard">
<part name="parameters" element="tns:updateCard"/>
</message>
<message name="updateCardResponse">
<part name="parameters" element="tns:updateCardResponse"/>
</message>
<message name="addToCart">
<part name="parameters" element="tns:addToCart"/>
</message>
<message name="addToCartResponse">
<part name="parameters" element="tns:addToCartResponse"/>
</message>
<message name="updateAddress">
<part name="parameters" element="tns:updateAddress"/>
</message>
<message name="updateAddressResponse">
<part name="parameters" element="tns:updateAddressResponse"/>
</message>
<message name="searchUserCart">
<part name="parameters" element="tns:searchUserCart"/>
</message>
<message name="searchUserCartResponse">
<part name="parameters" element="tns:searchUserCartResponse"/>
</message>
<message name="updateName">
<part name="parameters" element="tns:updateName"/>
</message>
<message name="updateNameResponse">
<part name="parameters" element="tns:updateNameResponse"/>
</message>
<message name="receiveItems">
<part name="parameters" element="tns:receiveItems"/>
</message>
<message name="receiveItemsResponse">
<part name="parameters" element="tns:receiveItemsResponse"/>
</message>
<message name="returnItems">
<part name="parameters" element="tns:returnItems"/>
</message>
<message name="returnItemsResponse">
<part name="parameters" element="tns:returnItemsResponse"/>
</message>
<message name="deleteCart">
<part name="parameters" element="tns:deleteCart"/>
</message>
<message name="deleteCartResponse">
<part name="parameters" element="tns:deleteCartResponse"/>
</message>
<message name="createTransaction">
<part name="parameters" element="tns:createTransaction"/>
</message>
<message name="createTransactionResponse">
<part name="parameters" element="tns:createTransactionResponse"/>
</message>
<message name="searchUserCardByTel">
<part name="parameters" element="tns:searchUserCardByTel"/>
</message>
<message name="searchUserCardByTelResponse">
<part name="parameters" element="tns:searchUserCardByTelResponse"/>
</message>
<message name="searchBookTitleByISBN">
<part name="parameters" element="tns:searchBookTitleByISBN"/>
</message>
<message name="searchBookTitleByISBNResponse">
<part name="parameters" element="tns:searchBookTitleByISBNResponse"/>
</message>
<message name="searchBookPriceByISBN">
<part name="parameters" element="tns:searchBookPriceByISBN"/>
</message>
<message name="searchBookPriceByISBNResponse">
<part name="parameters" element="tns:searchBookPriceByISBNResponse"/>
</message>
<message name="searchUserConsumption">
<part name="parameters" element="tns:searchUserConsumption"/>
</message>
<message name="searchUserConsumptionResponse">
<part name="parameters" element="tns:searchUserConsumptionResponse"/>
</message>
<message name="searchUserNameByTel">
<part name="parameters" element="tns:searchUserNameByTel"/>
</message>
<message name="searchUserNameByTelResponse">
<part name="parameters" element="tns:searchUserNameByTelResponse"/>
</message>
<message name="searchUserAddrByTel">
<part name="parameters" element="tns:searchUserAddrByTel"/>
</message>
<message name="searchUserAddrByTelResponse">
<part name="parameters" element="tns:searchUserAddrByTelResponse"/>
</message>
<message name="searchTransactions">
<part name="parameters" element="tns:searchTransactions"/>
</message>
<message name="searchTransactionsResponse">
<part name="parameters" element="tns:searchTransactionsResponse"/>
</message>
<portType name="UserServiceCoop">
<operation name="login">
<input wsam:Action="http://service/UserServiceCoop/loginRequest" message="tns:login"/>
<output wsam:Action="http://service/UserServiceCoop/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="addUser">
<input wsam:Action="http://service/UserServiceCoop/addUserRequest" message="tns:addUser"/>
<output wsam:Action="http://service/UserServiceCoop/addUserResponse" message="tns:addUserResponse"/>
</operation>
<operation name="modifyUserCart">
<input wsam:Action="http://service/UserServiceCoop/modifyUserCartRequest" message="tns:modifyUserCart"/>
<output wsam:Action="http://service/UserServiceCoop/modifyUserCartResponse" message="tns:modifyUserCartResponse"/>
</operation>
<operation name="updatePasswd">
<input wsam:Action="http://service/UserServiceCoop/updatePasswdRequest" message="tns:updatePasswd"/>
<output wsam:Action="http://service/UserServiceCoop/updatePasswdResponse" message="tns:updatePasswdResponse"/>
</operation>
<operation name="updateCard">
<input wsam:Action="http://service/UserServiceCoop/updateCardRequest" message="tns:updateCard"/>
<output wsam:Action="http://service/UserServiceCoop/updateCardResponse" message="tns:updateCardResponse"/>
</operation>
<operation name="addToCart">
<input wsam:Action="http://service/UserServiceCoop/addToCartRequest" message="tns:addToCart"/>
<output wsam:Action="http://service/UserServiceCoop/addToCartResponse" message="tns:addToCartResponse"/>
</operation>
<operation name="updateAddress">
<input wsam:Action="http://service/UserServiceCoop/updateAddressRequest" message="tns:updateAddress"/>
<output wsam:Action="http://service/UserServiceCoop/updateAddressResponse" message="tns:updateAddressResponse"/>
</operation>
<operation name="searchUserCart">
<input wsam:Action="http://service/UserServiceCoop/searchUserCartRequest" message="tns:searchUserCart"/>
<output wsam:Action="http://service/UserServiceCoop/searchUserCartResponse" message="tns:searchUserCartResponse"/>
</operation>
<operation name="updateName">
<input wsam:Action="http://service/UserServiceCoop/updateNameRequest" message="tns:updateName"/>
<output wsam:Action="http://service/UserServiceCoop/updateNameResponse" message="tns:updateNameResponse"/>
</operation>
<operation name="receiveItems">
<input wsam:Action="http://service/UserServiceCoop/receiveItemsRequest" message="tns:receiveItems"/>
<output wsam:Action="http://service/UserServiceCoop/receiveItemsResponse" message="tns:receiveItemsResponse"/>
</operation>
<operation name="returnItems">
<input wsam:Action="http://service/UserServiceCoop/returnItemsRequest" message="tns:returnItems"/>
<output wsam:Action="http://service/UserServiceCoop/returnItemsResponse" message="tns:returnItemsResponse"/>
</operation>
<operation name="deleteCart">
<input wsam:Action="http://service/UserServiceCoop/deleteCartRequest" message="tns:deleteCart"/>
<output wsam:Action="http://service/UserServiceCoop/deleteCartResponse" message="tns:deleteCartResponse"/>
</operation>
<operation name="createTransaction">
<input wsam:Action="http://service/UserServiceCoop/createTransactionRequest" message="tns:createTransaction"/>
<output wsam:Action="http://service/UserServiceCoop/createTransactionResponse" message="tns:createTransactionResponse"/>
</operation>
<operation name="searchUserCardByTel">
<input wsam:Action="http://service/UserServiceCoop/searchUserCardByTelRequest" message="tns:searchUserCardByTel"/>
<output wsam:Action="http://service/UserServiceCoop/searchUserCardByTelResponse" message="tns:searchUserCardByTelResponse"/>
</operation>
<operation name="searchBookTitleByISBN">
<input wsam:Action="http://service/UserServiceCoop/searchBookTitleByISBNRequest" message="tns:searchBookTitleByISBN"/>
<output wsam:Action="http://service/UserServiceCoop/searchBookTitleByISBNResponse" message="tns:searchBookTitleByISBNResponse"/>
</operation>
<operation name="searchBookPriceByISBN">
<input wsam:Action="http://service/UserServiceCoop/searchBookPriceByISBNRequest" message="tns:searchBookPriceByISBN"/>
<output wsam:Action="http://service/UserServiceCoop/searchBookPriceByISBNResponse" message="tns:searchBookPriceByISBNResponse"/>
</operation>
<operation name="searchUserConsumption">
<input wsam:Action="http://service/UserServiceCoop/searchUserConsumptionRequest" message="tns:searchUserConsumption"/>
<output wsam:Action="http://service/UserServiceCoop/searchUserConsumptionResponse" message="tns:searchUserConsumptionResponse"/>
</operation>
<operation name="searchUserNameByTel">
<input wsam:Action="http://service/UserServiceCoop/searchUserNameByTelRequest" message="tns:searchUserNameByTel"/>
<output wsam:Action="http://service/UserServiceCoop/searchUserNameByTelResponse" message="tns:searchUserNameByTelResponse"/>
</operation>
<operation name="searchUserAddrByTel">
<input wsam:Action="http://service/UserServiceCoop/searchUserAddrByTelRequest" message="tns:searchUserAddrByTel"/>
<output wsam:Action="http://service/UserServiceCoop/searchUserAddrByTelResponse" message="tns:searchUserAddrByTelResponse"/>
</operation>
<operation name="searchTransactions">
<input wsam:Action="http://service/UserServiceCoop/searchTransactionsRequest" message="tns:searchTransactions"/>
<output wsam:Action="http://service/UserServiceCoop/searchTransactionsResponse" message="tns:searchTransactionsResponse"/>
</operation>
</portType>
<binding name="UserServiceCoopPortBinding" type="tns:UserServiceCoop">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyUserCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePasswd">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCard">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addToCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAddress">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchUserCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="receiveItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteCart">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTransaction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchUserCardByTel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchBookTitleByISBN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchBookPriceByISBN">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchUserConsumption">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchUserNameByTel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchUserAddrByTel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchTransactions">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="UserServiceCoop">
<port name="UserServiceCoopPort" binding="tns:UserServiceCoopPortBinding">
<soap:address location="http://192.168.43.2:8080/DatabaseService/UserServiceCoop"/>
</port>
</service>
</definitions>