DatabaseService/src/wsdl/172.20.10.4_8080/DatabaseService/DatabaseSynchronizationCoop.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service/" name="DatabaseSynchronizationCoop">
<types>
<xsd:schema>
<xsd:import namespace="http://service/" schemaLocation="http://172.20.10.4:8080/DatabaseService/DatabaseSynchronizationCoop?xsd=1"/>
</xsd:schema>
</types>
<message name="deleteCartSyn">
<part name="parameters" element="tns:deleteCartSyn"/>
</message>
<message name="deleteCartSynResponse">
<part name="parameters" element="tns:deleteCartSynResponse"/>
</message>
<message name="addToCartSyn">
<part name="parameters" element="tns:addToCartSyn"/>
</message>
<message name="addToCartSynResponse">
<part name="parameters" element="tns:addToCartSynResponse"/>
</message>
<message name="updateAddrSyn">
<part name="parameters" element="tns:updateAddrSyn"/>
</message>
<message name="updateAddrSynResponse">
<part name="parameters" element="tns:updateAddrSynResponse"/>
</message>
<message name="addUserSyn">
<part name="parameters" element="tns:addUserSyn"/>
</message>
<message name="addUserSynResponse">
<part name="parameters" element="tns:addUserSynResponse"/>
</message>
<message name="returnItemsSyn">
<part name="parameters" element="tns:returnItemsSyn"/>
</message>
<message name="returnItemsSynResponse">
<part name="parameters" element="tns:returnItemsSynResponse"/>
</message>
<message name="updateNameSyn">
<part name="parameters" element="tns:updateNameSyn"/>
</message>
<message name="updateNameSynResponse">
<part name="parameters" element="tns:updateNameSynResponse"/>
</message>
<message name="updatePasswdSyn">
<part name="parameters" element="tns:updatePasswdSyn"/>
</message>
<message name="updatePasswdSynResponse">
<part name="parameters" element="tns:updatePasswdSynResponse"/>
</message>
<message name="updateCardSyn">
<part name="parameters" element="tns:updateCardSyn"/>
</message>
<message name="updateCardSynResponse">
<part name="parameters" element="tns:updateCardSynResponse"/>
</message>
<message name="modifyUserCartSyn">
<part name="parameters" element="tns:modifyUserCartSyn"/>
</message>
<message name="modifyUserCartSynResponse">
<part name="parameters" element="tns:modifyUserCartSynResponse"/>
</message>
<message name="createTransactionSyn">
<part name="parameters" element="tns:createTransactionSyn"/>
</message>
<message name="createTransactionSynResponse">
<part name="parameters" element="tns:createTransactionSynResponse"/>
</message>
<portType name="DatabaseSynchronizationCoop">
<operation name="deleteCartSyn">
<input wsam:Action="http://service/DatabaseSynchronizationCoop/deleteCartSynRequest" message="tns:deleteCartSyn"/>
<output wsam:Action="http://service/DatabaseSynchronizationCoop/deleteCartSynResponse" message="tns:deleteCartSynResponse"/>
</operation>
<operation name="addToCartSyn">
<input wsam:Action="http://service/DatabaseSynchronizationCoop/addToCartSynRequest" message="tns:addToCartSyn"/>
<output wsam:Action="http://service/DatabaseSynchronizationCoop/addToCartSynResponse" message="tns:addToCartSynResponse"/>
</operation>
<operation name="updateAddrSyn">
<input wsam:Action="http://service/DatabaseSynchronizationCoop/updateAddrSynRequest" message="tns:updateAddrSyn"/>
<output wsam:Action="http://service/DatabaseSynchronizationCoop/updateAddrSynResponse" message="tns:updateAddrSynResponse"/>
</operation>
<operation name="addUserSyn">
<input wsam:Action="http://service/DatabaseSynchronizationCoop/addUserSynRequest" message="tns:addUserSyn"/>
<output wsam:Action="http://service/DatabaseSynchronizationCoop/addUserSynResponse" message="tns:addUserSynResponse"/>
</operation>
<operation name="returnItemsSyn">
<input wsam:Action="http://service/DatabaseSynchronizationCoop/returnItemsSynRequest" message="tns:returnItemsSyn"/>
<output wsam:Action="http://service/DatabaseSynchronizationCoop/returnItemsSynResponse" message="tns:returnItemsSynResponse"/>
</operation>
<operation name="updateNameSyn">
<input wsam:Action="http://service/DatabaseSynchronizationCoop/updateNameSynRequest" message="tns:updateNameSyn"/>
<output wsam:Action="http://service/DatabaseSynchronizationCoop/updateNameSynResponse" message="tns:updateNameSynResponse"/>
</operation>
<operation name="updatePasswdSyn">
<input wsam:Action="http://service/DatabaseSynchronizationCoop/updatePasswdSynRequest" message="tns:updatePasswdSyn"/>
<output wsam:Action="http://service/DatabaseSynchronizationCoop/updatePasswdSynResponse" message="tns:updatePasswdSynResponse"/>
</operation>
<operation name="updateCardSyn">
<input wsam:Action="http://service/DatabaseSynchronizationCoop/updateCardSynRequest" message="tns:updateCardSyn"/>
<output wsam:Action="http://service/DatabaseSynchronizationCoop/updateCardSynResponse" message="tns:updateCardSynResponse"/>
</operation>
<operation name="modifyUserCartSyn">
<input wsam:Action="http://service/DatabaseSynchronizationCoop/modifyUserCartSynRequest" message="tns:modifyUserCartSyn"/>
<output wsam:Action="http://service/DatabaseSynchronizationCoop/modifyUserCartSynResponse" message="tns:modifyUserCartSynResponse"/>
</operation>
<operation name="createTransactionSyn">
<input wsam:Action="http://service/DatabaseSynchronizationCoop/createTransactionSynRequest" message="tns:createTransactionSyn"/>
<output wsam:Action="http://service/DatabaseSynchronizationCoop/createTransactionSynResponse" message="tns:createTransactionSynResponse"/>
</operation>
</portType>
<binding name="DatabaseSynchronizationCoopPortBinding" type="tns:DatabaseSynchronizationCoop">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="deleteCartSyn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addToCartSyn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateAddrSyn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addUserSyn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="returnItemsSyn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateNameSyn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updatePasswdSyn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateCardSyn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="modifyUserCartSyn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createTransactionSyn">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="DatabaseSynchronizationCoop">
<port name="DatabaseSynchronizationCoopPort" binding="tns:DatabaseSynchronizationCoopPortBinding">
<soap:address location="http://172.20.10.4:8080/DatabaseService/DatabaseSynchronizationCoop"/>
</port>
</service>
</definitions>